In [1]:
import pandas as pd
import numpy as np
import seaborn as sp
import matplotlib as mplot

In [2]:
weeksalesdb = pd.read_csv('train.csv')
stores = pd.read_csv('stores.csv')
features = pd.read_csv('features.csv', dtype = {'Weekly_Sales':int})

In [ ]:
for m in range(1,46):
    
    df = features[features['Store'] == m]
    df =

        Store  Dept        Date  Weekly_Sales  IsHoliday
421560     45    98  2012-08-24        415.40      False
421561     45    98  2012-08-31        346.04      False
421562     45    98  2012-09-07        352.44       True
421563     45    98  2012-09-14        605.96      False
421564     45    98  2012-09-21        467.30      False
421565     45    98  2012-09-28        508.37      False
421566     45    98  2012-10-05        628.10      False
421567     45    98  2012-10-12       1061.02      False
421568     45    98  2012-10-19        760.01      False
421569     45    98  2012-10-26       1076.80      False

In [19]:
mystring = 'df' + '1'

In [20]:
mystring

'df1'