In [1]:
import pandas as pd
import numpy as np
import seaborn as sp
import matplotlib as mplot
from collections import defaultdict

In [2]:
weeksalesdb = pd.read_csv('train.csv')
stores = pd.read_csv('stores.csv')
features = pd.read_csv('features.csv')

In [3]:
features.drop(columns = ['MarkDown1', 'MarkDown2', 'MarkDown3', 'MarkDown4', 'MarkDown5'], inplace = True)

In [4]:
#converts weeksalesdb rows into dict and merging departments
agg_sales = defaultdict(int)
for ind, sale in weeksalesdb.iterrows():
    agg_sales[str(sale['Store'])+'.'+sale['Date']] += sale['Weekly_Sales']

In [5]:
#converts back into db with updated sales value
storesales = pd.DataFrame(columns=['Store','Date','Weekly_Sales'])

for key, value in agg_sales.items():
    store, date = key.split('.')
    newrow = [store, date, value]
    storesales.loc[len(storesales)] = newrow

In [6]:
def convert_date(date):
    date = date.strip()
    date = date.replace('-','')
    date = date.strip()
    return int(date)
    
storesales['Date'] = storesales['Date'].apply(convert_date)
features['Date'] = features['Date'].apply(convert_date)

In [10]:
features.head(10)

,Store,Date,Temperature,Fuel_Price,CPI,Unemployment,IsHoliday
0,1,20100205,42.31,2.572,211.096358,8.106,False
1,1,20100212,38.51,2.548,211.242170,8.106,True
2,1,20100219,39.93,2.514,211.289143,8.106,False
3,1,20100226,46.63,2.561,211.319643,8.106,False
4,1,20100305,46.50,2.625,211.350143,8.106,False
5,1,20100312,57.79,2.667,211.380643,8.106,False
6,1,20100319,54.58,2.720,211.215635,8.106,False
7,1,20100326,51.45,2.732,211.018042,8.106,False
8,1,20100402,62.27,2.719,210.820450,7.808,False
9,1,20100409,65.86,2.770,210.622857,7.808,False

In [12]:
storesales.to_csv('storesales.csv')
features.to_csv('features2.csv')

In [9]:
max(storesales['Weekly_Sales']) - min(storesales['Weekly_Sales'])

3608700.1999999993