In [1]:
import pandas as pd
import numpy as np
import seaborn as sp
import matplotlib as mplot
from collections import defaultdict

In [2]:
weeksalesdb = pd.read_csv('train.csv')
stores = pd.read_csv('stores.csv')
features = pd.read_csv('features.csv')

In [3]:
features.drop(columns = ['MarkDown1', 'MarkDown2', 'MarkDown3', 'MarkDown4', 'MarkDown5'], inplace = True)

In [4]:
#converts weeksalesdb rows into dict and merging departments
agg_sales = defaultdict(int)
for ind, sale in weeksalesdb.iterrows():
    agg_sales[str(sale['Store'])+'.'+sale['Date']] += sale['Weekly_Sales']

In [5]:
#converts back into db with updated sales value
storesales = pd.DataFrame(columns=['Store','Date','Weekly_Sales'])

for key, value in agg_sales.items():
    store, date = key.split('.')
    newrow = [store, date, value]
    storesales.loc[len(storesales)] = newrow

In [6]:
def convert_date(date):
    date = date.strip()
    date = date.replace('-','')
    date = date.strip()
    return int(date)
    
storesales['Date'] = storesales['Date'].apply(convert_date)

In [7]:
storesales.head(10)

  Store      Date  Weekly_Sales
0     1  20100205    1643690.90
1     1  20100212    1641957.44
2     1  20100219    1611968.17
3     1  20100226    1409727.59
4     1  20100305    1554806.68
5     1  20100312    1439541.59
6     1  20100319    1472515.79
7     1  20100326    1404429.92
8     1  20100402    1594968.28
9     1  20100409    1545418.53